.remote_layout_lower_not_first {
    &:not(:first-child) {
        // max-height: 40% !important;
        // flex-direction: column;
        height: 40vh !important;
        position: relative;
    }
    &:first-child {
        // height: 100vh !important;
        position: absolute;
    }
}




.local_stream_relocate_border {
    border: 1px solid darkgrey;
    border-radius: 12px;
}